.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.die{
width: 50px;
height: 50px;
border-radius: 10px;
box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
color: black;
background-color: white;
justify-content: center;
display: flex;
align-items: center;
}



.die:hover{
cursor: pointer;
}

.rule{
  margin-left: 200px;
  color: white;
  position: absolute;
  margin-bottom: 3px;
}

.header{
color: white;
}
.die-group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  max-width: 700px;
  color: black;
  margin-left: 350px;
  border-radius: 20px;
  background-color: lightslategray;
  padding: 20px;
}


.roll{
width: 100px;
height: 50px;
border-radius: 10px;
border-color: white;
background-color: black;
color: white;
margin-top: 60px;
margin-right: 30px;
}

.roll:hover{
cursor: pointer;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  }

.time{
width: 100px;
height: 50px;
border-radius: 10px;
border-color: white;
background-color: black;
color: white;
justify-content: center;
align-items: center;
text-align: center;
font-size: 1em;
cursor: pointer;
}

.misses{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-color: white;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}


.numberOfRolls{
width: 100px;
height: 50px;
border-radius: 10px;
border-color: white;
background-color: black;
color: white;
justify-content: center;
align-items: center;
text-align: center;
font-size: 1em;
cursor: pointer;
}


.numberOfRolls:hover,.time:hover{
  cursor: pointer;
  }

.header {
    display: inline-block;
    margin: 0;
    padding: 20px;
}

/* .account {
    display: inline-block;
    vertical-align: middle;
    margin-right: 550px;
}


.account:hover{
cursor: pointer;
} */

.line{
background-image: linear-gradient(45deg, black, lightslategray white);
height: 50px;
position: relative;
}